<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>My Projects List:</p>
    <ul>
      <li>1. Love</li>
      <li>2. Hate</li>
      <li>3. Like</li>
    </ul>
    {{> footer}}

  </body>
</html>
